In [67]:
import random
import pandas as pd
import numpy as np

# Wheat

In [32]:
temp = []
for i in range(100):
    temp.append(round(random.uniform(14,18),2))

In [33]:
rainfall = []
for i in range(100):
    rainfall.append(round(random.uniform(50,100),2))

In [34]:
soil = ['alluvial']*100

In [35]:
humidity = []
for i in range(100):
    humidity.append(round(random.uniform(50,60),2))

In [36]:
wheat = {
         'TEMPERATURE': temp,
         'RAINFALL(cm)': rainfall,
         'HUMIDITY(%)': humidity,
         'SOIL': soil
        }

In [38]:
pd.DataFrame?

In [42]:
df_wheat = pd.DataFrame(wheat)
df_wheat.to_csv('wheat.csv',index=False)

# Maize

In [43]:
temp = []
for i in range(100):
    temp.append(round(random.uniform(18,27),2))

In [44]:
rainfall = []
for i in range(100):
    rainfall.append(round(random.uniform(60,110),2))

In [45]:
soil = ['loamy sand']*40 
soil.extend(['clay']*60)

In [46]:
humidity = []
for i in range(100):
    humidity.append(round(random.uniform(50,60),2))

In [47]:
maize = {
         'TEMPERATURE': temp,
         'RAINFALL(cm)': rainfall,
         'HUMIDITY(%)': humidity,
         'SOIL': soil
        }

In [48]:
df_maize = pd.DataFrame(maize)
df_maize.to_csv('maize.csv',index=False)

In [62]:
df_rice = pd.read_csv('rice.csv')
df_sugarcane = pd.read_csv('sugarcane.csv')

In [60]:
df = df_wheat.append(df_maize)

In [63]:
df = df.append(df_rice)
df = df.append(df_sugarcane)

In [80]:
l = []
for i in range(4):
    for j in range(100):
        l.append(i)
print(l)
len(l)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

400

In [82]:
df['Target'] = l
df.head()

   TEMPERATURE  RAINFALL(cm)  HUMIDITY(%)      SOIL  Target
0        16.49         90.68        53.23  alluvial       0
1        14.91         98.41        57.99  alluvial       0
2        17.60         51.46        52.23  alluvial       0
3        14.95         55.61        52.26  alluvial       0
4        17.11         85.29        58.99  alluvial       0

In [86]:
df = df.sample(frac=1)
df.head()

    TEMPERATURE  RAINFALL(cm)  HUMIDITY(%)      SOIL  Target
48        17.37         97.87        54.54  alluvial       0
68        25.46        170.65        56.47  alluvial       3
61        26.83        208.49        69.81     loamy       2
35        24.57        139.99        60.01  alluvial       3
77        24.26         61.90        53.81      clay       1

In [87]:
df.to_csv('final_dataset.csv', index= False)